@model IEnumerable<JardinesEF.Web.Models.Pais.PaisListVm>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Países</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombrePais)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PaisId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.PaisId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
