@model  JardinesEF.Web.Clases.Listador<JardinesEF.Web.Models.Ciudad.CiudadListVm>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Ciudades</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Registros.FirstOrDefault().NombreCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registros.FirstOrDefault().NombrePais)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Registros)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CiudadId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CiudadId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@{ Html.RenderPartial("_paginadorRegistros", Model); }
